---
page_title: "Provider: scm"
description: |-
    The Terraform provider for Palo Alto Networks Strata Cloud Manager.
---

# Provider scm

The `scm` provider provides resources and data sources to manage and query Strata Cloud Manager.

This provider covers the following aspects of Strata Cloud Manager:
* Unified Networking Security

## Beta Release Disclaimer

**This software is a pre-release version and is not ready for production use.**

*   **No Warranty:** This software is provided "as is," without any warranty of any kind, either expressed or implied, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose.
*   **Instability:** The beta software may contain defects, may not operate correctly, and may be substantially modified or withdrawn at any time.
*   **Limitation of Liability:** In no event shall the authors or copyright holders be liable for any claim, damages, or other liability, whether in an action of contract, tort, or otherwise, arising from, out of, or in connection with the beta software or the use or other dealings in the beta software.
*   **Feedback:** We encourage and appreciate your feedback and bug reports. However, you acknowledge that any feedback you provide is non-confidential.

By using this software, you agree to these terms.

## Release Notes

*   **v1.0.3 (10/24/2025)**

- Change Shared in examples (which was incorrect) to All
- Error handling enhanced - Instead of a generic 400 error, the actual api error is echoed back to terraform.
- Rule re-order - Now supports placing a rule in a desired location while the resource is managed through terraform.
- Examples added for ethernet, loopback, tunnel, layer3 interfaces
- Examples added for folder, snippet, authentication rule, app override rule, decryption rule, qos rule, nat rule, pbf rule
- Ipv6 is not supported for all interfaces - coming soon
- Layer3 interface without ip settings is not supported - coming soon
- Rest of the interfaces - coming soon

*   **v1.0.2 (10/13/2025)**

Data source / resource added for:

- folder, folder_list
- label, label_list
- snippet, snippet_list
- variable, variable_list

Data source / Resource examples added for:

- anti_spyware_profile, anti_spyware_profile_list
- anti_spyware_signature, anti_spyware_signature_list
- service_connection, service_connection_list
- service_connection_group, service_connection_group_list
- vulnerability_protection_profile, vulnerability_protection_profile_list

*   **v1.0.1 (10/03/2025)**

Beta disclaimer added

*   **v1.0.0 (10/03/2025)**

Initial Release - Please note: No backwards compatibility to v0.x.y

## Warranty

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

THIS SOFTWARE IS RELEASED AS A PROOF OF CONCEPT FOR EXPERIMENTAL PURPOSES ONLY. USE IT AT OWN RISK. THIS SOFTWARE IS NOT SUPPORTED.


## Example Usage

{{tffile "examples/provider/provider.tf"}}


## Provider Parameter Priority

There are multiple ways to specify the provider's parameters.  If overlapping values are configured for the provider, then this is the resolution order:

1. Statically configured in the `provider` block
2. Environment variable (where applicable)
3. Taken from the JSON config file


{{ .SchemaMarkdown | trimspace }}


## Debugging

To view the API invocations and responses, the `TF_LOG` flag can be set:

```bash
TF_LOG=debug terraform apply
```


## Support

This template/solution are released under an as-is, best effort, support policy. These scripts should be seen as community supported and Palo Alto Networks will contribute our expertise as and when possible. We do not provide technical support or help in using or troubleshooting the components of the project through our normal support options such as Palo Alto Networks support teams, or ASC (Authorized Support Centers) partners and backline support options. The underlying product used (the VM-Series firewall) by the scripts or templates are still supported, but the support is only for the product functionality and not for help in deploying or using the template or script itself. Unless explicitly tagged, all projects or work posted in our GitHub repository (at https://github.com/PaloAltoNetworks) or sites other than our official Downloads page on https://support.paloaltonetworks.com are provided under the best effort policy.
